= form_for(@challenge, html: { multipart: true }) do |f|
  -# = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :title, placeholder: "例）１ヶ月で５キロ減量達成するぞ！"
    = f.text_area :body, placeholder: "例）ダイエット頑張ります！"
  = f.submit "Post", class: "btn btn-primary"
  %span.picture
    = f.file_field :picture
