!!! 5
%html(lang="en")
  %head
    %title= full_title(yield(:title))
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Krrk"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    -# = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    -# = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    -# = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    -# = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    -# = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    %nav.navbar.navbar-expand-sm.navbar-dark.bg-info.mt-3.mb-3
      %button.navbar-toggler{"aria-controls" => "navbarNav4", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav4", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => "/"} キラレコ
      .collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{:href => "/signup"} 新規登録
          %li.nav-item
            %a.nav-link{:href => "users"} ユーザー一覧
          %li.nav-item
            %a.nav-link{:href => "/challenges/new"} Challenge投稿


    -#     = link_to "Krrk", '#', id: "logo"
    -#     %nav
    -#       %ul.nav.navbar-nav.navbar-right
    -#         %li= link_to "Home",   '#'
    -#         %li= link_to "Help",   '#'
    -#         %li= link_to "Log in", '#'
    -#     - if current_user.present?
    -#       %p= "今ログインしているユーザー：#{current_user.nickname}"
    -# .navbar.navbar-default.navbar-static-top
    -#   .container
    -#     %span.icon-bar
    -#     %span.icon-bar
    -#     %span.icon-bar
    -#     .navbar-collapse.collapse.navbar-responsive-collapse
    -#       %ul.nav.navbar-nav
    -#         %li= link_to "Link 1", "/path1"
    -#         %li= link_to "Link 2", "/path2"
    -#         %li= link_to "Link 3", "/path3"
    -#         %li= link_to "Link 3", "/path3"
    -#         %li= link_to "Sign up now!", signup_path, class: "btn"

    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
          %div.only-pc{style: 'height: 47px;'}
        .col-lg-3
          .well.sidebar-nav
            %h3 Sidebar
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"
      %footer
        %p &copy; Company 2019
